<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TimeFrame</title>
    <link rel="stylesheet" href="~/css/dashboard-layout.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap" rel="stylesheet">

</head>
<body class="body-style">
    <header>
        <ul class="top-navbar">
            <li>
                <a style="color: white;text-decoration: none; font-style: italic; font-size: 20px" asp-controller="Home" asp-action="Index">
                    <img class="logo-home-button" type="image" src="~/timeframe_logo.png" />
                    TimeFrame
                </a>
            </li>     

            <li>
                <a class="top-navbar-link" asp-area="" asp-controller="Accounts" asp-action="LogOut">
                    Log Out
                    <ion-icon name="log-out-outline"></ion-icon>
                </a>
            </li>
        </ul>
    </header>

    <div class="flex-row-container">
        <div>
            <ul class="left-navbar">
                <li class="left-navbar-item">
                    <a class="left-navbar-link" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                </li>
                <li class="left-navbar-item">
                    <a class="left-navbar-link" asp-area="" asp-controller="Teams" asp-action="Index">Teams</a>
                </li>
                <li class="left-navbar-item">
                    <a class="left-navbar-link" asp-area="" asp-controller="WorkItems" asp-action="MyWorkItems">My tasks</a>
                </li>
            </ul>
        </div>

        <div class="content">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
