@model TimeFrameWebAPIClient.DTOs.TeamDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link rel="stylesheet" href="~/css/teams.css" />

<div class="create-team-container">
    <form class="form" asp-action="Create">
        <h1>Create Team</h1>
        <div style="background-color: grey; width: 100%; height: 1px; margin: 10px"></div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="TeamName" class="form-label">Team name</label>
            <input asp-for="TeamName" class="form-input" />
            <span asp-validation-for="TeamName" class="text-danger"></span>
        </div>
        <input type="submit" value="Create" class="action-button" />
    </form>

    <span style="color:red;">@ViewBag.ErrorMessage</span>

    <a class="action-button" asp-action="Index">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Back to my teams
    </a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
